
[Unit]
Description=Logging Daemon

[Service]
Type=simple
ExecStart=/usr/bin/loggingDaemon \
	--configFile /etc/loggingDaemon/loggingDaemon.conf \
	--logFilePath /var/log/loggingDaemon/
User=root
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target